name: Testing
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  typescript:
    name: Typescript
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Node v16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: pnpm
      - name: Install dependencies
        run: pnpm --frozen-lockfile
      - name: Run TypeScript compiler
        run: pnpm run test:typescript
  prettier:
    name: Prettier
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Node v16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: pnpm
      - name: Install dependencies
        run: pnpm --frozen-lockfile
      - name: Run Prettier
        run: pnpm run test:prettier
  Linting:
    name: Eslint
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: checkout repository
        uses: actions/checkout@v3
      - name: Install Node v16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: pnpm
      - name: Install dependencies
        run: pnpm --frozen-lockfile
      - name: Run Eslint
        run: pnpm run lint --fix=false